{
"Database": {
"Hostname": "localhost",
"Schema": "conquer",
"Username": "root",
"Password": ""
},
"GameNetwork": {
"IPAddress": "192.168.1.23",
"Port": 5816,
"MaxConn": 500,
"ServerIdentity": 1,
"ServerName": "Dark",
"Username": "inburst",
"Password": "test"
},
"RpcNetwork": {
"IPAddress": "127.0.0.1",
"Port": 5816
},
"Authentication": {
"StrictAuthPass": false
}
}