{
  "Database": {
    "Hostname": "localhost",
    "Schema": "conquer",
    "Username": "root",
    "Password": "1234"
  },
  "GameNetwork": {
    "IPAddress": "0.0.0.0",
    "Port": 5816,
    "MaxConn": 500,
    "ServerIdentity": 1,
    "ServerName": "Brasil"
  },
  "RpcNetwork": {
    "IPAddress": "0.0.0.0",
    "Port": 5817
  },
  "Authentication": {
    "StrictAuthPass": false
  },
  "ApiAuth": {
    "Username": "test",
    "Password": "test",
  }
}