{
"Database": {
"Hostname": "localhost",
"Schema": "zf",
"Username": "root",
"Password": "1234"
},
"GameNetwork": {
"IPAddress": "0.0.0.0",
"Port": 5816,
"MaxConn": 500,
"ServerIdentity": 1,
"ServerName": "Brasil",
"Username": "uOIMI9WHOMooKY0x",
"Password": "epPQ8dTJhtxxCobJ"
},
"RpcNetwork": {
"IPAddress": "127.0.0.1",
"Port": 9865
},
"Authentication": {
"StrictAuthPass": false
}
}